*{
  font-family: Arial, Helvetica, sans-serif;
}
.gray-background {
  background-color: rgba(239, 239, 239, 0.862);
    color: #000;
}
.search-background {
    background-color: rgba(1, 1, 1, 0.862);
    color: #000;
}
.indicate-warning {
    color:rgb(207, 122, 82)
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media (max-width: 767px) {
    .dynamic-height {
      height: auto !important; 
      /* //The !important keyword is used to ensure that these styles take precedence over any other conflicting styles. */
      min-height: 15rem !important;
    }
    .height-mobile {
        height: 3rem !important;
    }
  }

  .link-style {
    color: inherit; /* Use the color inherited from the parent */
    text-decoration: none; /* Remove underline */
  }